.formControl{

}

.formControl.error input,
.formControl.error textarea {
    border: 3px solid red;
}

.formControl.error span{
    color: red;
}

.formError{
    border: 1px solid red;
    padding: 5px;
    color: blue;
}
