.content{
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.dialogs{
border: 1px solid red;

}

.dialogsItem{
margin: 10px;
}

.messages{
border: 1px solid green;
}

.messagesItem{
    margin: 5px;

}

.active{
    color: red;
}